language: python
sudo: required
dist: xenial
python:
  - '3.7'

cache:
  pip: true

install:
  - pip install pipenv
  - pipenv install --dev

script:
  - pipenv run make code-check
  - pipenv run make runtests
